<h1 class="head">Update Product </h1>

<%= form_for @product, :url => products_path do |f| %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <td><%= f.label :price %></td>
      <td><%= f.text_field :price %></td>
    </tr>
    <tr>
      <td><%= f.label :weight %></td>
      <td><%= f.text_field :weight %></td>
    </tr>
    <tr>
      <td><%= f.label :category %></td>
      <td>: <%= f.select :category_id, @child_category, { :include_blank => false } %></td>
    </tr>
    <tr>
      <td><%= f.submit "Update" %></td>
    </tr>
  </table>
<% end %>
  
  <%= link_to "Back", products_path %>
