<h2 class="head"> New Product </h2>

  <%= form_for @product do|f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <%= f.label :description %><br />
  <%= f.text_area :description%><br />
  <%= f.label :price %><br />
  <%= f.text_field :price%><br />
  <%= f.label :weight %><br />
  <%= f.text_field :weight%><br />
  <%= f.label :category_id  %>
  <%= f.select :category_id, @child_category, { :include_blank => false } %>
  <br /><br />

  <%= f.submit "Create"%><%= link_to "Back", products_path %>
  <% end %>
