<h2 class="head"> Product </h2>

Name : <%= @product.name %><br/>
Description : <%= @product.description %><br/>
Price : <%= @product.price %><br/>
Weight : <%= @product.weight %><br/>


<%= link_to "Back", products_path%>
