<html>
<head>
  <title>Admin Edit</title>
</head>
<body>

<%= form_for @article,:url => admin_article_path do |f| %>
  <% if @article.errors.any? %>
  
  <h2> <%= pluralize(@article.errors.count, "error" ) %> Title or content was error. </h2>

  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


  Title   : <br /><%= f.text_field :title %> <br />
  Article : <br /><%= f.text_area :body %><br />
  Rating  : <br /><%= f.text_field :rating %><br />
  <%= f.submit "Update" %><br />
  <%= link_to "Back to Index", admin_articles_path%>
  <% end %>

</body>
</html>
