<%= link_to "Add Category", new_admin_category_path %>
<table>
    <tr>
      <th>Name</th>
      <th>Parent Category</th>
      <th>Manage</th>
      
    </tr>
  <tr>
  
    <% @categories.each do |category| %>
      
        <td><%= category.name %></td>
        
        <td></td>
        <td><%= link_to "Show", admin_category_path(category.id) %> | <%= link_to "Edit", edit_admin_category_path(category.id) %> | <%= link_to "delete", admin_category_path(category.id), confirm:'yakin Hapus ?',method: :delete %></td>
      </tr>
    <% end %>
  
  </table>
